<!DOCTYPE html>
 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Layout Page</title>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bowlby+One+SC" />
        <style>
            .wrapper {
                margin: 0 auto;
                padding: 10px;
            }

            body {
                /*background-image: url("https://shorturl.at/hDEOY");
                background-size: cover;*/
                font-family: "Arial", sans-serif;
                background-color: rgba(236, 166, 34, 0.705);

            }

            #plane {
                width: 200px;
                padding-top: 50px;
            }

            #x {
                font-family: Bowlby One SC;
                font-size: 40px;
                color: black;
            }
        </style>
        
    </head>

    <body>

        <div class="wrapper">
            <header>
                
                <p id="x"><a href="screen"><img src="https://cdn-icons-png.flaticon.com/512/7893/7893979.png" id="plane"></a>popfm</p>
            </header>
        </div>
       
 
        <main><%- body %></main>
        
    </body>
    
</html>