<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Index Page</title>
    </head>

    <body>
        <h1>Link</h1>
        <a href="http://localhost:3000/screen">Click here to go to Music Page</a>
    </body>
    
</html>